 <div style="margin: 0px 40px 10px;">
  <img src="<%= impression.image %>"><br>
 </div>
  著作：<%= impression.title %><br>
  読書メモ：<%= impression.content %><br>
  投稿/編集日：<%= impression.updated_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %>（<%= time_ago_in_words(impression.updated_at)%>前）<br>
 <% if current_user?(impression.user) %>
  <%= link_to "削除", impression, method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <%= link_to "編集", edit_impression_path(impression) %>
 <% end %>
 <hr>
 