
 <div style="margin: 0px 40px 10px; text-align:center;">
  <img src="<%= impression.image %>" alt="本のイメージ" width="160"><br>
 </div>
 <div class="book-data">
  <ul style="list-style-type: none;">
   <li><%= link_to gravatar_for(impression.user, size: 40), impression.user %></li><br>
   <li style="line-height: 0.4;"><%= impression.user.name %>さんの投稿</li><br>
   <li>タイトル：<%= impression.title %></li>
   <li>読書メモ：<span class="book"><%= impression.content %></span></li>
   <li>投稿/編集日：<%= impression.updated_at.strftime("%Y年%-m月%-d日") %>（<%= time_ago_in_words(impression.updated_at)%>前）
   </li>
   <% if request.path ==  impressions_page_path %>
    <% if impression.published == false %>
     <li>投稿設定：非公開</li>
    <% else %>
     <li>投稿設定：公開</li>
    <% end %>
   <% end %>
 <% if current_user?(impression.user) %>
   <li><%= link_to "削除", impression, method: :delete, data: { confirm: "本当に削除しますか？" } %>
   <%= link_to "編集", edit_impression_path(impression) %>
   </li>
 <% end %>
  </ul> 
 </div>
 <hr>