 <% provide(:title, "読書メモ") %>
 <h1 style="font-weight: bold; margin-top: -30px;">読書メモ</h1>
  <div style="text-align: center;">
   <%= image_tag @book_image.url, width: '100' %>
  </div>
<div class="container impression-nav">
 <%= form_with model: @impression do |f| %>
   <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
   <%= f.hidden_field :image, value: @book_image %>
   
   <%= f.label "本のタイトル" %>
   <%= f.text_field :title, value: @book_title, placeholder: 'タイトル入力は必須です', class: 'form-control' %>
   
   <%= f.label "読書メモ" %>
   <%= f.text_area :content, class: "text-area", placeholder: "1〜2000文字以内で入力してください" %>
  </div>
  <div style="vertical-align: middle; position:relative; right: 115px; top: -10px;">
   <%= f.label :published, class: "checkbox inline" do %>
   <%= f.check_box :published %>
  </div>
  <span style="vertical-align: middle; position:relative; right: 20px; top: -10px;">非公開で投稿</span>
  <% end %>
  <%= f.submit "投稿", class: "btn btn-info" %>
   <%# <span class="picture"> %>
   <%#= f.file_field :image, accept: 'image/jpeg, image/gif, image/png' %>
   <%# </span> %>
 <% end %>
</div>
