<% provide :title, "読書メモ" %>
  <div style="margin-top: -30px; text-align: center;">
   <%= link_to "本をさがす", search_books_path, class: "btn-border" %>
   <%= link_to "読んでいる本", reading_books_path, class: "btn-border" %>
   <%= link_to "読んだ本", readed_books_path, class: "btn-border" %>
   <%= link_to "読みたい本", want_books_path, class: "btn-border" %>
   <%= link_to "読書メモ確認", impressions_page_path, class: "btn-border" %>
   <%= link_to "読んだ本一覧", readed_books_table_path, class: "btn-border" %>
  </div>
<% if @impressions.any? %> 
 <h3 style="font-weight: bold; text-align: center; margin: 40px 0;">- 読書メモ （投稿数：<%= @impressions.count %>） -</h3>
  <%= paginate @impressions %>
  <%= render @impressions %>
 <% else %> 
 <hr style="border-top">
  <p style="text-align: center;">読書メモの記録はありません</p>
 <hr style="border-bottom">
 <% end %>