<%= provide(:title, '読んだ本一覧') %>
<h3 style="font-weight: bold; text-align: center; margin: -50px 0 20px;">- 読んだ本一覧 -</h3>
<table class="table-style" style="margin: 0 auto">
 <thead>
  <tr>
   <th>NO</th>
   <th>本のタイトル</th>
   <th>著者名</th>
   <th>読了した日</th>
  </tr>
 </thead>
   <% @books_table_data.each_with_index do |count, i| %>
 <tbody>
  <tr>
   <td class="table-style_b">
     <%= "#{i += 1}" %><br><!-- 1からスタート -->
   </td>
   <td>
     <%= count[0] %><br>
   </td>
   <td>
    <%= count[1] %><br>
   </td>
   <td>
    <%= count[2].strftime("%Y年%-m月%-d日 %-H時 %-M分") %><br> 
   </td>
  </tr>
 </tbody>
 <% end %>
</table>