<%= provide(:title, '読んだ本一覧') %>
<h3 style="font-weight: bold; text-align: center; margin: -40px 0 40px ;">- 読んだ本一覧 -</h3>
<table class="table-style" style="margin: 0 auto">
 <thead>
  <tr>
   <th style="width: 15px; text-align: center;">NO</th>
   <th style="text-align: center;">本のタイトル</th>
   <th style="text-align: center;">著者名</th>
   <th style="text-align: center;">読了した日</th>
  </tr>
 </thead>
   <% @books_table_data.each_with_index.reverse_each do |count, i| %>
 <tbody>
  <tr>
   <td style="text-align: center; width: 15px;">
     <%= i += 1 %><!-- 1からスタート -->
   </td>
   <td>
     <%= count[0] %>
   </td>
   <td>
    <%= count[1] %>
   </td>
   <td style="width: 10px; text-align: center;">
    <%= count[2].strftime("%Y年%-m月%-d日") %>
   </td>
  </tr>
 </tbody>
 <% end %>
</table>