<%= provide(:title, @user.name) %>
 <div class="row">
  <aside class="col-md-4">
   <section>
    <h1>
 	 <%= gravatar_for @user %>
     <%= @user.name %>
    </h1>
   </section>
  </aside>
  <%= link_to "読んでいる本", reading_books_path, class: "btn btn-lg btn-danger font-s" %>
  <%= link_to "読んだ本", readed_books_path, class: "btn btn-lg btn-info font-s" %>
  <%= link_to "読みたい本", want_books_path, class: "btn btn-lg btn-success font-s" %>
 </div>
 <h3>今読んでいる本</h3>
  <%= render @books %>
   <p>読んだ本の合計（総計）：<%= @book_count %>冊</p>
   <p>読んだページの合計：<%= @page_count %>ページ</p>
   <p>今月読んだ本の合計：<%= @month_book_count %>冊</p>
   <p>2020年に読んだ本の合計：<%= @year_book_count %>冊</p>
   <p>2020年に読んだ本の合計(月ごと)：<%= @month_year_book_count %>冊</p>