<div class="container.card.card-book">
 <div class="row">
  <div class="col-2.col-md-3">
   <%= link_to book_path(book) do %>
    <%= image_tag book.image.url, width: '100' if book.image? %>
   <% end %>
  </div>
   <%= link_to book_path(book), class: 'col-9 col-md-8' do %>
    <%= "読書メモ/本の登録区分変更" %>
   <% end %><br>
    著作：<%= book.title %><br>
    著者：<%= book.author %><br>
    登録日：<%= book.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 (%a)") %><br>
    ページ数：<%= book.page_count %>ページ<br>
 </div>
</div>
<hr>