<% provide :title, "読んでいる本" %>
  <div style="margin-top: 30px;">
   <%= link_to "本をさがす", search_books_path, class: "btn-border" %>
   <%= link_to "読んでいる本", reading_books_path, class: "btn-border" %>
   <%= link_to "読んだ本", readed_books_path, class: "btn-border" %>
   <%= link_to "読みたい本", want_books_path, class: "btn-border" %>
  </div>
<hr style="border-top: double; font-size: bold;">
 <h3 style="font-weight: bold;">読んでいる本</h3>
<hr style="border-bottom: double;">
 <% if @books.any? %> 
  <%= render @books %> 
 <% else %> 
  <p>現在読んでいる本はありません</p>
 <% end %>
<hr style="border-top: double;">
 <% if @impressions.any? %>
 <h3 style="font-weight: bold;">読書メモ （投稿数：<%= @impressions.count %>）</h3>
 <hr style="border-bottom: double;">
  <%= paginate @impressions %>
  <%= render @impressions %>
 <% end %>