<% provide :title, "読んだ本" %>
  <div style="margin-top: -30px; text-align: center;">
   <%= link_to "本をさがす", search_books_path, class: "btn-border" %>
   <%= link_to "読んでいる本", reading_books_path, class: "btn-border-2" %>
   <%= link_to "読んだ本", readed_books_path, class: "btn-border-2" %>
   <%= link_to "読みたい本", want_books_path, class: "btn-border-2" %>
   <%= link_to "読書メモ確認", impressions_page_path, class: "btn-border" %>
   <%= link_to "読んだ本一覧", readed_books_table_path, class: "btn-border" %>
  </div>
 <h3 style="font-weight: bold; text-align: center; margin: 40px 0;">- 読んだ本 -</h3>
 <% if @books.any? %> 
  <%= render @books %>
 <% else %> 
  <p style="text-align: center;">現在読んだ本はありません</p>
 <% end %>
 <h3 style="font-weight: bold; text-align: center; margin: 40px 0;">- 読んだ本の集計 -</h3>
<%# 表 %>
<table class="table-style" style="margin: 0 auto">
 <thead>
  <tr>
   <th><% now = Time.current %><%= now.month %>月に読んだ本</th>
   <th><% now = Time.current %><%= now.month %>月に読んだページ数</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><%= @now_month_count %>冊</td>
   <td><%= @month_page_count %>ページ</td>
  </tr>
 </tbody>
</table>
<table class="table-style" style="margin: 0 auto">
 <thead>
  <tr>
   <th><% now = Time.current %><%= now.prev_month.mon %>月に読んだ本</th>
   <th><% now = Time.current %><%= now.prev_month.mon %>月に読んだページ数</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><%= @last_month_count %>冊</td>
   <td><%= @last_month_page_count %>ページ</td>
  </tr>
 </tbody>
</table>

 <table class="table-style" style="margin: 0 auto">
  <tr>
   <th>読んだ月</th>
   <th>読んだ数</th>
  </tr>
 <tr>
  <td><% @month_book_count.keys.each do |month| %>
    <%= month %>月<br>
  <% end %></td>
  <td><% @month_book_count.values.each do |count| %>
   <%= count %>冊<br>
  <% end %></td>
 </tr>
</table>

<table class="table-style" style="margin: 0 auto">
 <tr>
  <th>読んだ年</th>
  <th>読んだ数</th>
 </tr>
 <tr>
  <td><% @year_book_count.keys.each do |year| %>
    <%= year %>年<br>
  <% end %></td>
  <td><% @year_book_count.values.each do |book| %>
    <%= book %>冊<br>
  <% end %></td>
 </tr>
</table>