<% provide :title, "本を登録する" %>
<h1>本を登録する（Books#show）</h1>
<%= @book.title %>
<%= @book.author %>
<% if @book.image? %>
 <%= image_tag @book.image.url, width: '70' %>
<% else %>
 <%= image_tag 'book-image.png', height: '100' %>
<% end %>
<%= render partial: 'books/register_area' %>
