<!-- レスポンシブのみ表示 -->
	　<ul class="bottom-menu">
	   <li><%= link_to "RERECとは", about_path %></li>
	   <li><%= link_to "利用規約", terms_path %></li>
	   <li><%= link_to "プライバシー", privacy_path %></li>
	　</ul>
		<!-- PCデフォルト -->
　　<footer class="footer">
	<small>
		<a href="https://yo-suke-blog.com/" target="_blank">©2020 Yōsuke</a>
	</small>
	　<nav>
	　　<ul>
	     <li><%= link_to "RERECとは", about_path %></li>
	     <li><%= link_to "利用規約", terms_path %></li>
	     <li><%= link_to "プライバシー", privacy_path %></li>
	　　</ul>
	　</nav>
    </footer>