<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
          <%= link_to "REREC", root_path, id: "logo" %>
       </div>
  <nav>
    <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
      <% if logged_in? %>
        <li class="search-nav">
          <%= form_with url: user_path(current_user), method: :get, local: true do %>
         <div class="input-group">
          <%= search_field_tag "i", params[:i], class: "form-control", placeholder: "読書メモ検索" %>
           <span class="input-group-btn">
            <%= submit_tag "検索", class: "btn btn-default" %>
           </span>
         </div>
         <% end %>
        </li>
        <li>
         <%= link_to "マイページ", current_user %>
        </li>
         <% end %>
        <li>
         <%= link_to "本をさがす", search_books_path %>
        </li>

　　<!-- ログイン時のヘッダーメニュー -->

      <% if logged_in? %>
        <li style="margin-top: -20px;"> 
         <% if current_user.admin? %>
　        <%= link_to "ユーザー管理画面", users_path %>
         <% end %>
        </li>
        <li>
          <%= link_to "ログアウト", logout_path, method: :delete %>
        </li>
      <% else %>
       <li><%= link_to "はじめる", '/started_page' %></li>
     <% end %>
    </ul>
  </nav>
 </div>
</header>